<f:layout name="Default" />

<f:section name="main">
<f:flashMessages />

<f:if condition="{nodata}">
<f:then>
<p>Error: no data found!</p>
</f:then>
<f:else>
<ul class="tinyaccordion" id="tinyaccordion{uid}">
<f:for each="{elements}" as="element" iteration="objIterator">
	<li class="acc-li">
		<{settings.flexform.header1}>{element.header}</{settings.flexform.header1}>
		<div class="acc-section">
			<ul class="tinyaccordion" id="tinyaccordion{uid}p{objIterator.cycle}">
			  <f:for each="{element.news}" as="news">
			  	<li class="acc-li">
			  		<{settings.flexform.header2}>{news.header}</{settings.flexform.header2}>
					<div class="acc-section"><f:format.raw>{news.bodytext}</f:format.raw></div>
				</li>
			  </f:for>
			</ul>
		</div>
	</li>
  </f:for>
</ul>
<script type="text/javascript">
var parentAccordion{uid} = new TINY.accordion.slider("parentAccordion{uid}");
parentAccordion{uid}.init("tinyaccordion{uid}","{settings.flexform.header1}",{settings.flexform.expandable1},{settings.flexform.index1},"acc-selected");

<f:for each="{elements}" as="element" iteration="objIterator">
  var nestedAccordion{uid}p{objIterator.cycle} = new TINY.accordion.slider("nestedAccordion{uid}p{objIterator.cycle}");
  nestedAccordion{uid}p{objIterator.cycle}.init("tinyaccordion{uid}p{objIterator.cycle}","{settings.flexform.header2}",{settings.flexform.expandable2},{settings.flexform.index2},"acc-selected");
</f:for>
</script>
</f:else>
</f:if>

</f:section>


<f:comment>
Note: you can use the {pids} array and <f:format.date format="d.m.Y">@{news.datetime}</f:format.date> too.
</f:comment>